name: libusb
description: Dart wrapper via `dart:ffi` for https://github.com/libusb/libusb
version: 0.4.23-dev.0
homepage: https://github.com/woodemi/libusb.dart

environment:
  sdk: '>=2.16.0-124.0.dev <3.0.0'

platforms:
  linux:
  macos:
  windows:

dependencies:
  ffi: ^1.2.0-dev.0

dev_dependencies:
  pedantic: ^1.10.0
  ffigen: ^5.0.0-dev.0
  test: ^1.16.3
  convert: ^3.0.0

ffigen:
  name: Libusb
  description: Bindings to `libusb.h`.
  output: 'lib/src/libusb.ffigen.dart'
  headers:
    entry-points:
      - 'libusb-1.0/libusb.h'
    include-directives: # include only these header files and necessary structs from other header files
      - '**libusb.h'
  library-imports:
    pkg_libusb: 'package:libusb/src/libusb_base.dart'
  type-map:
    'typedefs':
      'size_t':
        'lib': 'pkg_ffi'
        'c-type': 'Size'
        'dart-type': 'int'
      'ssize_t':
        'lib': 'pkg_libusb'
        'c-type': 'Ssize'
        'dart-type': 'int'
    'structs':
      'timeval':
        'lib': 'pkg_libusb'
        'c-type': 'Timeval'
        'dart-type': 'Timeval'